body {
  font-family: monospace;
  margin: 0;
  font-size: 14px;
  background-color: #131a24;
}
h1 {
  font-size: 2rem;
  text-align: center;
  margin: 16px;
  color: #eee;
}
h2, h3, p, ul {
  margin: 0 0 4px 0;
}
h2 {
  font-size: 1.125rem;
}
h3 {
  font-size: 0.875rem;
}
ul {
  margin-left: 16px;
  padding: 0;
}
li {
  margin-bottom: 4px;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 16px;
  margin: 16px;
}
.color {
  height: 300px;
  padding: 8px;
}
.copyValue {
  cursor: copy;
}

.toast {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #333;
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.fade-out {
  animation: fade-out 0.5s ease-in-out forwards;
}
.fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

[data-color='--burnt-out'] { color: white; }
[data-color='--burnt-jaywalk'] { color: white; }
[data-color='--jaywalk'] { color: white; }
[data-color='--blossom'] { color: black; }
[data-color='--pudding'] { color: black; }
[data-color='--summer'] { color: black; }
[data-color='--peach'] { color: black; }
[data-color='--cider'] { color: black; }
[data-color='--midnight'] { color: white; }
[data-color='--matins'] { color: white; }
[data-color='--dusk'] { color: white; }
[data-color='--deep'] { color: white; }
[data-color='--poseidon'] { color: white; }
[data-color='--thetis'] { color: black; }
[data-color='--air'] { color: black; }
[data-color='--powder'] { color: black; }
[data-color='--puff'] { color: black; }
[data-color='--george'] { color: white; }
[data-color='--ulysses'] { color: white; }
[data-color='--benjamin'] { color: black; }
[data-color='--abraham'] { color: black; }
[data-color='--harriet'] { color: black; }
[data-color='--alexander'] { color: black; }
[data-color='--ansel'] { color: white; }
[data-color='--platon'] { color: white; }
[data-color='--casablanca'] { color: black; }
[data-color='--hitchcock'] { color: black; }
[data-color='--lange'] { color: black; }
[data-color='--brady'] { color: black; }
[data-color='--mapplethorpe'] { color: black; }
[data-color='--arnold'] { color: black; }
[data-color='black'] { color: white; }
[data-color='white'] { color: black; }