body {
  --bg: 255, 255, 255;
  --fg: 6, 11, 13;

  &.dark-bg {
    --bg: 6, 11, 13;
    --fg: 255, 255, 255;
  }
}
body {
  font-family: monospace;
  margin: 0;
  font-size: 14px;
  background-color: rgb(var(--bg));
}
h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0;
  color: rgb(var(--fg));
}
h2, h3, p, ul {
  margin: 0 0 4px 0;
}
h2 {
  font-size: 1.125rem;
}
h3 {
  font-size: 0.875rem;
}
ul {
  margin-left: 16px;
  padding: 0;
}
li {
  margin-bottom: 4px;
}
hr {
    grid-column: 1 / -1;
    height: 0;
    width: 100%;
    border: 1px solid rgba(var(--fg), 0.25);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background: rgba(var(--fg), 0.10);

  div {
    display: flex;
    align-items: center;
    gap: 16px
  }
}
input {
  background: rgba(var(--bg), 0.80);
  border: none;
  color: rgb(var(--fg));
  padding: 8px;
  border-radius: 4px;
}
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 16px;
  margin: 16px;
}
.color {
  height: 300px;
  padding: 8px;
}
.copyValue {
  cursor: copy;
}

.toast {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #333;
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.fade-out {
  animation: fade-out 0.5s ease-in-out forwards;
}
.fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

[data-color='--burnt-out'] { color: white; }
[data-color='--burnt-jaywalk'] { color: white; }
[data-color='--jaywalk'] { color: white; }
[data-color='--blossom'] { color: black; }
[data-color='--pudding'] { color: black; }
[data-color='--summer'] { color: black; }
[data-color='--peach'] { color: black; }
[data-color='--cider'] { color: black; }
[data-color='--midnight'] { color: white; }
[data-color='--matins'] { color: white; }
[data-color='--dusk'] { color: white; }
[data-color='--deep'] { color: white; }
[data-color='--poseidon'] { color: white; }
[data-color='--thetis'] { color: black; }
[data-color='--air'] { color: black; }
[data-color='--powder'] { color: black; }
[data-color='--puff'] { color: black; }
[data-color='--george'] { color: white; }
[data-color='--ulysses'] { color: white; }
[data-color='--benjamin'] { color: black; }
[data-color='--abraham'] { color: black; }
[data-color='--harriet'] { color: black; }
[data-color='--alexander'] { color: black; }
[data-color='--ansel'] { color: white; }
[data-color='--platon'] { color: white; }
[data-color='--casablanca'] { color: black; }
[data-color='--hitchcock'] { color: black; }
[data-color='--lange'] { color: black; }
[data-color='--brady'] { color: black; }
[data-color='--mapplethorpe'] { color: black; }
[data-color='--arnold'] { color: black; }
[data-color='black'] { color: white; }
[data-color='white'] { color: black; }



/* The switch - the box around the slider */

.switch-container {
  --switch-border: 3px;
  --switch-height: 22px;
  --switch-width: calc(var(--switch-height) * 2 - var(--switch-border) * 2);

  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;

  small {
    width: 100%;
    position: absolute;
    bottom: -16px;
    text-align: center;
    color: rgb(var(--fg));
  }

  svg {
    width: 16px;
    height: 16px;
    color: rgb(var(--fg));
    flex-shrink: 0;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
  flex-shrink: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--fg), .25);
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(var(--switch-height) - var(--switch-border) * 2);
  width: calc(var(--switch-height) - var(--switch-border) * 2);
  left: var(--switch-border);
  bottom: var(--switch-border);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(calc(var(--switch-height) - var(--switch-border) * 2));
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}